<% provide(:title, "About") %>
<div class="container">
<h1>About our coin services</h1>
<p>
  We are leaders in coin and collectible currencies. We offer various services which are mentioned below. Please note that we are not limited to only below mentioned services. In case you have any question please do reach us by clicking below button. 
</p>
<div><%= link_to "Contact Us", contact_path, class: 'btn btn-primary' %></div>

<br/>
<br/>
<h2 style="text-align: left;"> Our Services and expert work </h2>

<ul>
	<li>Coin and currency deciphering. No matter how old or antique the coin is we have expertise to decipher it.</li>
	<li>Coin and collectible currency valuation. Get best and latest valuation of your coin.</li>
	<li>Need help in completing your collection and find the missing link. Reach out to us.</li>
	<li>Trouble in deciding if a coin is fake or real. You can trust on our experts.</li>
	<li>Need auction related tips for best buy and sell price? Contact us for the same.</li>
</ul>

</div>
