
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Coin App, <%= @user.name %></h1>
    <p>
      You have successfully signed up to https://stark-beyond-64713.herokuapp.com/ ,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To view coins please follow this link: https://stark-beyond-64713.herokuapp.com/categories
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>