<% provide(:title, 'Coins and Collectible currencies categories') %>
<div class="container">
<!--   <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> -->
<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 text-center ">
<div class="thumbnail">
<a href="/categories/1" target="_blank"><img src="assets/gupta" class="img-responsive img-center center-block "><div class="caption">Gupta &amp; Post Gupta Dynasties</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/2" target="_blank"><img src="assets/mhindu" class="img-responsive img-center center-block "><div class="caption">Medieval India - Hindu dynasties</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center ">
<div class="thumbnail">
<a href="/categories/3" target="_blank"><img src="assets/mislam" class="img-responsive img-center center-block "><div class="caption">Medieval India - Islamic dynasties</div></a>
</div>
</div>

</div>

<div class="row">
<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/4" target="_blank"><img src="assets/local" class="img-responsive img-center center-block "><div class="caption">Local &amp; Princely States</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/5" target="_blank"><img src="assets/fcoin" class="img-responsive img-center center-block "><div class="caption">Pre-colonial foreign coins found in India</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/6" target="_blank"><img src="assets/colonial" class="img-responsive img-center center-block "><div class="caption">Colonial India</div></a>
</div>
</div>

</div>

<div class="row">

<div class="col-xs-12 col-sm-4 col-md-4 text-center ">
<div class="thumbnail">
<a href="/categories/7" target="_blank"><img src="assets/mughal" class="img-responsive img-center center-block "><div class="caption">Mughal Empire</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/8" target="_blank"><img src="assets/india" class="img-responsive img-center center-block "><div class="caption">Indian Republic (1947 - today)</div></a>
</div>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 text-center">
<div class="thumbnail">
<a href="/categories/9" target="_blank"><img src="assets/foreign" class="img-responsive img-center center-block "><div class="caption">Foreign</div></a>
</div>
</div>

</div>

</div>