<% provide(:title, @category.name + ' Subcategories') %>
<div class="container center">

<div class="row">

<% @category.subcategories.each_with_index do |subcategory, i| %>
	<% if i > 0 %>
    <div class="col-xs-12 col-sm-3 col-md-3 text-center ">
	<%= link_to subcategory.name, coins_path(id: subcategory.id), class: "thumbnail", style: "text-decoration: none; color: #fff;" %>
	</div>
	<%end%>
<%end%>
</div>
</div>

