
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Coin is added in our list %></h1>
    <p>
      Please visit our site to check this new item. %>.<br>
    </p>
    <% debugger %>
    <p>
      Visit this link for new coin <%= @url %>.
      <%= image_tag attachments[@filename].url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>